$background-color: rgb(255, 255, 255);
.infoBox {
  background: $background-color;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.control {
  width: 90px;
  height: 50px;
  font-size: 20px;
  color: yellow;
  background-color: rgb(184, 181, 181);
  // outline: none;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: rgb(112, 112, 112);
  }
}

.slides {
  position: relative;
  height: 350px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  & > img {
    width: 100%;
  }
}
