.infoBox {
  position: relative;
  background: rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  margin: 100px auto 0;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 12px rgba(34, 60, 80, 0.37);
  -moz-box-shadow: 0px 0px 20px 12px rgba(34, 60, 80, 0.37);
  box-shadow: 0px 0px 20px 12px rgba(34, 60, 80, 0.37);
}

.controls {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
}

.control {
  width: 90px;
  height: 50px;
  font-size: 20px;
  color: yellow;
  background-color: rgb(184, 181, 181);
  outline: none;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 3px;
}
.control:hover {
  cursor: pointer;
  background-color: rgb(112, 112, 112);
}

.slides {
  position: relative;
  height: 350px;
}
